<configuration scan="true">

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="debug">
		<appender-ref ref="console" />
	</root>

	<logger name="com.github.ivos.tcjpa" level="trace" />

	<!-- DO NOT EVER set Weld to trace, as it will throw NumberFormatException because of jandex -->
	<!-- <logger name="org.jboss.weld" level="trace" /> -->

</configuration>
